# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=pk_test_c21vb3RoLXNsdWctNjIuY2xlcmsuYWNjb3VudHMuZGV2JA

# Stripe Payments
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51SqD2p1rVaFcdb9o7llvr2yEcNUuPLoUJLxTtchVc5DFbt1I3luH6EmHnKi7pEKZpethoBX49R5xjoJjdBHpELlZ00FDZEYkoL

# Backend API URL (Leave blank for relative /api or specify full endpoint)
VITE_API_URL=
